<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<body>

<footer th:fragment="common_footer">
    <div id="wrap">
        <div class="d-flex justify-content-center inner">
            <p>저자 : 김희정</p>
            <ul class="menu_bar">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">책임의 한계와 법적고지</a></li>
                <li><a href="#">회원정보 고객센터</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>