<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="common_header" class="common_header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/items">상품등록</a>
                    <a class="nav-link" href="/login">로그인</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="logout_header" class="logout_header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/items">상품등록</a>
                    <div>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-light" type="submit"
                                    th:onclick="location.href='index.html'">로그아웃
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>