<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/base :: common_head(~{::title}, ~{::link})}">
    <title>상품 등록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!--navbar-->
<div th:replace="~{layout/header :: logout_header}"></div>
<div class="container">
    <h2>상품 등록</h2>
    <hr class="w-25">
    <!--글 작성 form-->
    <div class="w-25">
        <form action="items/item.html" th:action th:object="${item}" method="post" enctype="multipart/form-data">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">글로벌 오류 메시지</p>
            </div>
            <div>
                <div>
                    <label for="itemName">상품명</label>
                    <input class="form-control" aria-label="default input example" type="text"
                           id="itemName" name="itemName" placeholder="이름을 입력하세요."
                           th:field="*{itemName}" th:errorclass="field-error"/>
                    <div class="field-error" th:errors="*{itemName}"></div>
                </div>
                <div>
                    <label for="price">가격</label>
                    <input class="form-control" aria-label="default input example" type="text"
                           id="price" name="price" placeholder="가격을 입력하세요."
                           th:field="*{price}" th:errorclass="field-error"/>
                    <div class="field-error" th:errors="*{price}"></div>
                </div>
                <div>
                    <label for="quantity">수량</label>
                    <input class="form-control" aria-label="default input example" type="text"
                           id="quantity" name="quantity" placeholder="갯수를 입력하세요."
                           th:field="*{quantity}" th:errorclass="field-error"/>
                    <div class="field-error" th:errors="*{quantity}"></div>
                </div>
            </div>
            <!--button-->
            <div class="border d-inline-flex mt-2">
                <div>
                    <button class="btn btn-outline-success" type="submit">등록</button>
                </div>
                <div>
                    <button class="btn btn-outline-success ms-2" type="button"
                            onclick="location.href='items/items.html'"
                            th:onclick="|location.href='@{/items}'|">취소
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- footer -->
<div th:insert="~{layout/footer :: common_footer}"></div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    /* input 입력 후 엔터 시 submit 방지 위함 */
    document.addEventListener('keydown', function(event) {
        if ((event.keyCode || event.which) === 13) {
        event.preventDefault();
        }
        }, true);
</script>