<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/base :: common_head(~{::title}, ~{::link})}">
    <title>상품 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h2 th:if="${param.status}" th:text="저장완료"></h2>
<!--navbar-->
<div th:replace="~{layout/header :: logout_header}"></div>
<div class="container">
    <h2>상세보기</h2>
    <hr>
    <!--readonly input box-->
    <div class="w-25">
        <div>
            <label for="itemId">상품 ID</label>
            <input class="form-control" aria-label="default input example"
                   type="text" id="itemId" name="itemId" value="1" th:value="${item.id}" readonly/>
        </div>
        <div>
            <label for="itemName">상품 명</label>
            <input class="form-control" aria-label="default input example" type="text"
                   id="itemName" name="itemName" value="상품A" th:value="${item.itemName}" readonly/>
        </div>
        <div>
            <label for="price">가격</label>
            <input class="form-control" aria-label="default input example" type="text"
                   id="price" name="price" value="1000" th:value="${item.price}" readonly/>
        </div>
        <div>
            <label for="quantity">수량</label>
            <input class="form-control" aria-label="default input example" type="text"
                   id="quantity" name="quantity" value="5" th:value="${item.quantity}" readonly/>
        </div>
    </div>
    <!--button-->
    <div class="item-btn mt-2">
        <button class="btn btn-outline-success" type="button"
                onclick="location.href='items/editForm.html'"
                th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'|">상품 수정
        </button>
        <button class="btn btn-outline-success" type="button"
                onclick="location.href='items/items.html'"
                th:onclick="|location.href='@{/items}'|">목록으로
        </button>
        <button class="btn btn-outline-success" type="button"
                th:onclick="|location.href='@{/items/{itemId}/delete(itemId=${item.id})}'|">삭제
        </button>
        <div class="d-flex justify-content mt-2">
            <div>
                <h6 th:text="|조회수 : ${item.updateHits}|"></h6>
            </div>
            <div class="ms-3">
                <h6 th:text="|등록일 : ${item.createDate}|"></h6>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div th:insert="~{layout/footer :: common_footer}"></div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
</script>